<h1>Hello! This is the users edit page.</h1>

<div class="user-edit">
  <label>Email address
    {{input value=email}}
  </label>
</div>

<button {{action 'save' this}}>Save</button>
<button {{action 'delete' this}}>Delete</button>

{{#if deleteMode}}
  <div class="confirm-delete">
    <h3>Do you really want to delete this user?</h3>
    <button {{action 'confirmDelete' this}}>Yes</button>
    <button {{action 'cancelDelete'}}>No</button>
  </div>
{{/if}}
