{{log session}}

<h2 id='title'>Welcome to Ember.js</h2>

{{#if session.isAuthenticated}}
  <p>Currently logged in as: {{session.current_user.email}} | <a {{action 'invalidateSession'}}>Logout</a></p>
{{else}}
  <p>{{#link-to 'login'}}Login{{/link-to}}</p>
{{/if}}

{{#link-to 'users.index'}}
  Go to Users page
{{/link-to}}

{{outlet}}
